bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.StefRobbe.CloudDatabases/.idea/workspace.xml
.idea/.idea.StefRobbe.CloudDatabases/.idea/projectSettingsUpdater.xml
.idea/.idea.StefRobbe.CloudDatabases/.idea/indexLayout.xml
.idea/.idea.StefRobbe.CloudDatabases/.idea/vcs.xml
.vs
